*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    border: 4px solid black;
    background-color: rgb(215, 205, 205);
    width: 500px;
    height: 500px;  
    display: flex  ;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
p{
    background-color: blue;
    color: white;
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}